@use "@carbon/styles/scss/config" as *;
@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/styles/scss/type" as *;
@use "@carbon/styles/scss/utilities/convert" as *;
@use "@carbon/styles/scss/components/accordion";
@use "@carbon/styles/scss/components/button";
@use "@carbon/styles/scss/components/breadcrumb";
@use "@carbon/styles/scss/layout" as *;

body {
  font-family: "IBM Plex Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: rgb(51, 51, 51);
  background-color: #fff;
  overflow: hidden;
}
.lineBreak {
  position: relative; /* Required for positioning the pseudo-element */
  width: 100%; /* Set the width of the container div */
  margin: 0 auto; /* Center the div if needed */
}

.lineBreak::before {
  content: ""; /* Empty content to create the line break */
  display: block; /* Make it a block-level element */
  width: 90%; /* Set the width of the line break to 80% of the container's width */
  height: 0; /* Set the height to 0 to create a horizontal line */
  border-top: 1px solid black; /* Add a border to create the line effect */
  margin: 0 auto; /* Center the line break */
  padding-bottom: 10px;
  padding-top: 5px;
}

cds-header {
  background-color: #012169;
}

cds-side-nav-items {
  background-color: #f4f6f9;
}

cds-header-name::part(link) {
  color: white;
}

.pageContent {
  margin-top: 80px;
  margin-left: 340px;
  margin-right: 340px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-start; /* Align content to the top */

  /* Reset margin when side nav is closed */
  @media (max-width: 1055px) {
    margin-left: 50px;
    margin-right: 100px;
  }
}

.pageTile {
  margin-left: 239px;
  margin-top: 32px;
  width: 100%;
  background-color: #003fd1;
  color: white;
  cds-tile {
    color: white;
    background-color: #003fd1;
  }

  @media (max-width: 1055px) {
    margin-left: -20px;
    margin-top: 30px;
    margin-right: 100px;
    background-color: #003fd1;
    color: white;
    cds-tile {
      background-color: #003fd1;
      color: white;
    }
  }
}

cds-toast-notification {
  margin-bottom: 5px;
  width: 240px;
}
